*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
div
{
    background-color: rgb(149, 143, 143);
    padding: 40px;
    height:  100vh;
     
    display: flex;
     align-items: center;
     justify-content: center;
     text-align: center;

}
select
{
     padding: 10px;
     margin-top: 20px;
     margin-left: 20px;
     border-radius: 6px;
     font-size: 16px;
     border: 2px solid black;
}